.grid {
    /* display: grid;  This is set via JavaScript */
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: .1em 3em;
    justify-items: center;
    /* Horizontally center align the content */
    align-items: center;
    /* Vertically center align the content */
}

.grid-top,
.grid-bottom {
    text-align: center;
    /* Optionally center align the text within the divs */
}


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #202020;
    margin: 0;
    max-width: 600px;
}

#timer,
#race-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.h1,
.h2,
.h3,
.h4 {
    font-size: 1rem;
}

.h1 {
    color: #2e8ece;
}

.h3 {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.5rem 0;
    font-size: 2rem;
    width: 100%;
}

.stopwatch {
    font-size: 4rem;
    color: #2e8ece;
}

.target {
    opacity: 0.6;
}

#estimate-time,
#lap-time,
#target-time,
#target-lap {
    color: white;
    font-size: 3.5rem;
}

#distance {
    font-size: 3rem;
}



button {
    outline: none;
    border: none;
    font-size: 3rem;
    height: 4rem;
    font-family: inherit;
    background-color: #2e8ece;
    color: white;
    outline-offset: 0.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.start {
    width: 100%;
}

.lap,
.resume,
.finish {
    width: 70%;
}

.pause,
.reset {
    width: 25%;
    background-color: rgb(75, 75, 75);
}

#actionButton2,
#target-lap,
#target-lap-header,
#target-time,
#target-time-header {
    display: none;
}

.finish:disabled {
    background-color: rgb(75, 75, 75);
    opacity: 0.4;
}

#races {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.race {
    width: 8rem;
    margin: .7rem;
    padding: 10px 20px;
    font-size: 16px;
}

.race.selected {
    background-color: #2e8ece;
    outline: 2px solid #2e8ece;
}

#settings {
    width: 100%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.settings-div {
    font-size: 1.5rem;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.settings-name {

    width: 40%;
    text-align: left;
}

.settings-value {
    font-weight: 600;
    width: 60%;
    text-align: right;
}

.settings-description {
    opacity: 0.6;
    width: 96%;
    text-align: left;
    font-size: 1rem;
    margin-bottom: .8rem;
}

/* SAVED RUNS */
#history {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}






/* RACE HISTORY LIST */
.summary-div {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 96%;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 1.5rem 0;
}

.summary-left-col {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.summary-time {
    width: 25%;
    font-weight: 600;
    text-align: right;
    margin: auto;
}

.summary-name {
    color: #2e8ece;
}

.summary-date {
    opacity: 0.6;
}





/* LAP HISTORY LIST */
#lap-history,
#race-details-laps {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.lap-div {
    font-size: 1.5rem;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.5rem 0;
}

.lap-num {
    opacity: 0.6;
    width: 25%;
    text-align: left;
}

.lap-delta-faster {
    color: green;
    width: 25%;
    text-align: right;
}

.lap-delta-slower {
    color: red;
    width: 25%;
    text-align: right;
}

.lap-split {
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.lap-time {
    opacity: 0.6;
    width: 25%;
    text-align: right;
}




/* RELAY HISTORY LIST */
.relay-runner {
    opacity: 0.6;
    width: 50%;
    text-align: left;
}

.relay-time {
    font-weight: 600;
    width: 50%;
    text-align: right;
}

.time-button {
    outline: none;
    border: none;
    font-size: 1rem;
    height: 2rem;
    font-family: inherit;
    background-color: rgb(75, 75, 75);
    color: white;
    outline-offset: 0.2rem;
    cursor: pointer;
    margin: .5rem;
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    display: none;
}

#splash-content {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-confirm {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%
}



/* ##### NAVIGATION MENU ##### */

#navigation-bar {
    display: flex;
}

#navigation-icon {
    cursor: pointer;
    padding: 20px;
    z-index: 1;
}

.navigation-hamburger {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px 0;
}

#navigation-logo {
    text-align: center;
    margin-left: -69px;
    width: 100%;
    padding-top: 10px;
}

#navigation-sidebar {
    position: fixed;
    top: 0;
    left: -75%;
    width: 75%;
    height: 100vh;
    background-color: #1A1A1A;
    box-shadow: 0 0 10px #333333;
    transition: left 0.3s ease-in-out;
    z-index: 2;
    padding: 0px;
    max-width: 500px;
}

#navigation-sidebar.open {
    left: 0;
}

#navigation-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

#navigation-sidebar-overlay.show {
    display: block;
}

#navigation-close {
    font-size: 2.5rem;
    cursor: pointer;
    padding: 15px;
}

#navigation-sidebar ul {
    list-style-type: none;
    padding: 0;
}

#navigation-sidebar li {
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 400;
}